
body {
  font-family: 'Lobster', cursive;
  min-height: 100vh;
  padding-top: 90px;
  background: linear-gradient(
    120deg,
    rgb(118, 82, 26),
    #062a4e,
    rgb(1, 48, 8),
    rgb(118, 82, 26)
  );
  background-size: 200% 200%;
  animation: bgMove 18s ease infinite;
  color: #fff;
}
.dashboard h1,
.dashboard h2,
.dashboard h3,
.dashboard h4,
.dashboard h5 ,
.navbar-brand,.btn{
    font-family: 'Cinzel', serif;
    font-weight: 700;
    letter-spacing: 1.5px;
    background: linear-gradient(
        135deg,
        #ab05f8,
        #ffd700,
        #05b3f8,
        #ffffff
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}



.dashboard p {
    letter-spacing: 0.5px;
}

@keyframes bgMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.navbar {
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(10px);
}
.navbar-brand{
    color: #f6f2f2;
    font-size: 30px;
}
.dashboard {
  padding: 80px 0;
}

.dash-title {
  font-size: 3rem;
  font-family: 'Playfair Display', serif;
}

.dash-sub {
  color: #cfd9e3;
}

.dash-card {
  background: rgba(255,255,255,0.12);
  backdrop-filter: blur(14px);
  border-radius: 22px;
  padding: 50px 30px;
  cursor: pointer;
  transition: all 0.35s ease;
  border: 1px solid rgba(255,255,255,0.25);
}

.dash-card:hover {
  transform: translateY(-12px) scale(1.04);
  box-shadow: 0 25px 60px rgba(0,0,0,0.45);
}

.dash-icon {
  font-size: 48px;
  color: #6c63ff;
  margin-bottom: 15px;
}
