body {
    background: #f8f9fa;
    padding-top: 80px;
    font-family: "Segoe UI", sans-serif;
}

.navbar {
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.manage h2 {
    font-weight: 700;
}

.capsule-card {
    background: #ffffff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.capsule-card h5 {
    font-weight: 600;
}

.capsule-card small {
    color: #666;
}

.capsule-card button {
    margin-top: 10px;
}
/* STATUS COLORS */
.status {
    display: inline-block;
    margin-top: 8px;
    font-weight: 600;
}

.status.locked {
    color: #dc2626; /* red */
}

.status.unlocked {
    color: #16a34a; /* green */
}

/* LOCKED VISUAL */
.capsule-card.locked {
    opacity: 0.7;
    border-left: 5px solid #dc2626;
}

/* UNLOCKED VISUAL */
.capsule-card.unlocked {
    border-left: 5px solid #16a34a;
}
.capsule-card button:hover {
    transform: scale(1.05);
}
