body {
    background: #f8f9fa;
    padding-top: 80px;
    font-family: "Segoe UI", sans-serif;
}

.navbar {
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.open h2 {
    font-weight: 700;
}

.capsule-card {
    background: #ffffff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.locked {
    filter: blur(1px);
    opacity: 0.7;
}
.unlocked {
    animation: glow 2s infinite alternate;
}

@keyframes glow {
    from { box-shadow: 0 0 10px #6c63ff; }
    to { box-shadow: 0 0 25px #00c6ff; }
}


.locked span {
    color: red;
    font-weight: 600;
}

.unlocked span {
    color: green;
    font-weight: 600;
}
/* LOCKED CAPSULE */
.capsule-card.locked {
    opacity: 0.6;
    filter: blur(1px);
    border-left: 5px solid #dc2626;
}

/* UNLOCKED CAPSULE */
.capsule-card.unlocked {
    border-left: 5px solid #16a34a;
    animation: glow 2s infinite alternate;
}

/* GLOW EFFECT */
@keyframes glow {
    from {
        box-shadow: 0 0 10px rgba(22,163,74,0.4);
    }
    to {
        box-shadow: 0 0 25px rgba(22,163,74,0.8);
    }
}
/* CAPSULE REVEAL ANIMATION */
.reveal {
    animation: revealCapsule 0.8s ease forwards;
}

@keyframes revealCapsule {
    from {
        opacity: 0;
        transform: scale(0.85);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.countdown {
    margin-top: 12px;
    font-weight: 600;
    color: #dc2626; /* red */
    font-size: 14px;
}

.countdown span {
    color: #111;
    background: #f1f5f9;
    padding: 4px 8px;
    border-radius: 6px;
    margin-right: 5px;
}