* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
font-family: 'Inter', sans-serif;  /*body font style*/
    background: #070707;
    color: #faf9f9;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;  /* font styling for headings */
    letter-spacing: 0.4px;
}


/* ========================================================= CSS VARIABLES ========================================================= */

:root {
    --primary: #4f46ff;
    --secondary:rgba(0, 255, 255, 0.8);
    --dark: #040404;
    --light: #f9fafb;
}
/* ========================================================= NAVBAR ========================================================= */

.navbar {
    background:linear-gradient(to top,rgba(17, 146, 146, 0.8),white);
    border-radius: 12px;
}
.nav-actions {
    margin-left: 40px;
}
/* login/register pages nav style */
.auth-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    background:linear-gradient(to top,rgba(0, 255, 255, 0.8),white);
    border-radius: 12px;
    border-bottom: 1px solid rgba(255,255,255);

}
.auth-navbar .logo {
    font-size: 18px;
    font-weight: 700;
    color: #010101;
    white-space: nowrap;
}
.auth-navbar .nav-right {
    display: flex;
    align-items: center;
}
.auth-navbar .nav-link {
    color: #020244;
    background:linear-gradient(40deg,rgb(121, 121, 250),
    rgb(251, 119, 251));
    border-radius: 100px;
    text-decoration:none;
    font-weight: 900;
    padding: 8px 20px;
    border-radius: 20px;
    transition: all 0.3s ease;
}
.auth-navbar .nav-link:hover {
    background: linear-gradient(45deg,rgb(72, 2, 54),rgb(249, 134, 209));
    color: #cfd9e3;
}

/* ========================================================= HERO SECTION ========================================================= */
/* ================= Hero section background ================= */

.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 60px;
    background: radial-gradient(circle at center, #176473, #000);
    overflow: hidden;
}

/* =================right side Text ================= */

.hero-text {
    flex: 1;
    color: rgb(255, 255, 255);

    opacity: 0;
    transform: translateX(-120px); /* CLOCK BACK SIDE */
    animation: textFromClock 1.4s ease forwards;
    animation-delay: 2s;
}
@keyframes textFromClock {
    from {
        opacity: 0;
        transform: translateX(-120px); /* behind clock */
    }
    to {
        opacity: 1;
        transform: translateX(0); /* final right position */
    }
}

.hero-text h1 {
    font-size: 3.2rem;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 1.0rem;
    margin-bottom: 25px;
    color: #cfd9e3;
    font-weight: 300;
    font-family:'cinzel', serif;
}
/* clock numbers style */
.clock .num {
    position: absolute;
    color: rgba(254, 253, 254, 0.7);
    font-size: 22px;
    font-weight: 600;
    font-family: 'Cinzel', serif;
}
.n12 { top: 10px; left: 50%; transform: translateX(-50%); }
.n3  { right: 14px; top: 50%; transform: translateY(-50%); }
.n6  { bottom: 10px; left: 50%; transform: translateX(-50%); }
.n9  { left: 14px; top: 50%; transform: translateY(-50%); }
/* clock background style */
.clock {
    position: relative;
    width: 390px;       
    height: 390px;      
    border-radius: 50%;
    background:radial-gradient(circle,rgb(13, 244, 205),rgb(10, 150, 155),rgb(1, 56, 60));
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(14px);
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow:0 0 45px rgba(104, 178, 252, 0.8),inset 0 0 25px rgba(255,255,255,0.2);
    overflow: hidden;
}
/* clock Glass Reflection */
.clock::before {
    content: "";
    position: absolute;
    inset: -40%;
    background: linear-gradient(
        120deg,
        rgba(255,255,255,0.0) 30%,
        rgba(255,255,255,0.25) 45%,
        rgba(255,255,255,0.05) 60%
    );

    transform: rotate(25deg) translateX(-100%);
    animation: glassMove 6s ease-in-out infinite;
    pointer-events: none;
}
@keyframes glassMove {
    0% {
        transform: rotate(25deg) translateX(-120%);
        opacity: 0;
    }
    30% {
        opacity: 0.8;
    }
    60% {
        transform: rotate(25deg) translateX(120%);
        opacity: 0.2;
    }
    100% {
        opacity: 0;
    }
}

/* ================= CLOCK STYLES ================= */

.hero-clock {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    transform: scale(2);
    opacity: 0;
    animation: clockIntro 2s ease forwards;
    animation-delay: 0.3s;
}
@keyframes clockIntro {
    0% {
        opacity: 0;
        transform: scale(2) translateX(0);
    }
    70% {
        opacity: 1;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateX(-80px);
    }
}

@keyframes textIntro {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom;
    transform: translateX(-50%);
    border-radius: 10px;
}

.hour {
    width: 6px;
    height: 65px;
    background: #ffffff;
}

.minute {
    width: 4px;
    height: 90px;
    background: #00ffff;
}

.second {
    width: 2px;
    height: 105px;
    background: #ff004f;
    box-shadow: 0 0 12px #ff004f;
}

.center-dot {
    position: absolute;
    width: 14px;
    height: 14px;
    background: #ffffff;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 15px cyan;
}

.center-dot::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border: 2px solid cyan;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(0.5);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1.6);
    }
}

.hero-title {
    font-size: 3.6rem;
    line-height: 1.1;
}

.hero-text {
    font-size: 1.2rem;
    margin-top: 15px;
    color: #cfd9e3;
}
/* ========================================================= FEATURES / HOW To Use ========================================================= */
/* feature section background style */
.features {
    padding: 80px 0;
    background:linear-gradient(to top,rgb(56, 127, 129),black);
    border: 2px solid rgb(56, 127, 129);
    border-radius: 15px 15px 0 0;
}
/* feature sec heading */
.section-heading h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #5de1df;
}
.section-heading p {
    font-size: 1.05rem;
    color: #cefaf6;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Feature Cards */
.feature-card {
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    height: 440px;
    width: 300px;
    border: 2px solid rgb(176, 244, 249);
    box-shadow: 0 20px 40px rgba(0,0,0,0.25);
}

.feature-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

/* OVERLAY */
.feature-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 25px;
    background: linear-gradient(
        to top,
        rgba(0,0,0,0.75),
        rgba(0,0,0,0.25)
    );
}
.feature-overlay h5 {
    color: #46e2e2;
    font-weight: 300;
    font-size: 1.8rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 70px;
}
.feature-overlay p {
    color: #a9eaea;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 30px;
    margin-bottom: 35px;
    font-size:0.8rem; ;
}

/* hover of feature cards */
.feature-card:hover img {
    transform: scale(1.1);
}


/* =========================================================WHY TIME CAPSULE SECTION========================================================= */
/* why-capsule backgroung style */
.why-capsule {
    padding: 90px 0;
    background:linear-gradient(to top,black,rgb(56, 127, 129));
    border-radius: 0 0 30px 30px;
    border: 2px solid rgb(56, 127, 129);
}
/* heading styling */
.why-title {
    font-size: 2.4rem;
    font-weight: 700;
    font-family: cinzel,serif;
    margin-bottom: 20px;
    color: #c7f9fb;
}
/* text styling below heading */
.why-text {
    font-size: 1.1rem;
    color: #91f7f7;
    line-height: 1.8;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* image setting */
.why-img {
    width: 220px;
    height: 360px;
    object-fit: cover;
    border-radius: 20px;
    border: 2px solid #137078;
    box-shadow: 0 18px 40px rgba(4, 4, 4, 0.25);
}
/* image adjusting */
.move-left { transform: translateX(-60px); }
.move-right { transform: translateX(40px); }


/* =========================================================BUTTON INTERACTIONS========================================================= */
/* buttons in the home page styling */
.btn {
    font-weight: 600;
    position: relative;
    overflow: hidden;
    background:linear-gradient(45deg,rgb(6, 82, 97),rgb(86, 234, 245));
    color: #f9fafb;
    border: #023333;
}

.btn:hover {
    transform: translateY(-3px) scale(1.03);
}

.btn-primary {
    background: linear-gradient(135deg, #053328, #00c6ff);
    border: 1px solid white;
}

/* =========================================================FOOTER========================================================= */

.footer {
    background: linear-gradient(
        to top,
        rgb(23, 166, 187),
        rgb(8, 106, 123),
        rgb(1, 59, 69),
        black
    );
    padding: 60px 0;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-title {
    font-size: 45px;
    font-weight: 800;
}
.footer-links a{
    color: #00ffff;
}
.social-icons a {
    margin-left: 20px;
    font-size: 20px;
    color: white;
    transition: 0.3s;
}

.social-icons a:hover {
    color: var(--secondary);
    transform: translateY(-3px);
}

