
body {
    font-family: 'Lobster', cursive !important;
    min-height: 100vh;
}

.form-box,
.capsule-card {
    background: rgba(255,255,255,0.12);
    backdrop-filter: blur(16px);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 20px 60px rgba(0,0,0,0.35);
}

/* ================= NAVBAR ================= */
/* .navbar {
    background: rgba(148, 195, 241, 0.6) !important;
    backdrop-filter: blur(14px);
    border-bottom: 1px solid rgba(255,255,255,0.08);
}

.navbar a {
    color: #ffffff !important;
    font-weight: 600;
}

.navbar a:hover {
    color: #ffd369 !important;
} */


/* ================= GLASS CARD ================= */
.glass-card {
    background: rgba(255,255,255,0.12);
    backdrop-filter: blur(18px);
    border-radius: 20px;
    padding: 35px;
    box-shadow: 0 20px 60px rgba(0,0,0,0.35);
}


/* ================= BUTTON ================= */
.btn-primary {
    background: linear-gradient(135deg, #6c63ff, #00c6ff);
    border: none;
}

.btn-primary:hover {
    transform: translateY(-3px);
    box-shadow: 0 15px 30px rgba(0,198,255,0.4);
}


/* BACKGROUND styling of login/register pages */
.theme-bg {
    min-height: 100vh;
    background: linear-gradient(
        45deg,rgb(17, 17, 114),rgb(1, 0, 5),rgba(11, 166, 166, 0.8)
    );
    background-size: 200% 200%;
    animation: bgMove 18s ease-in-out infinite;
}
@keyframes bgMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
/* login form background */
.glass-card {
    background: rgba(255,255,255,0.12);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    border-radius: 22px;
    border: 1px solid rgba(255,255,255,0.25);
    box-shadow: 0 25px 60px rgba(0,0,0,0.45);
}

/* login form inputs */
.theme-input {
    background: rgba(255,255,255,0.9);
    color: #3c0a2e;
    font-weight: 600;
    border-radius: 12px;
    padding: 12px;
    border: none;
}

.theme-input:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(108,99,255,0.35);
}

/* login/register BUTTONs */
.theme-btn {
    background: linear-gradient(135deg, #a102f6, #00c6ff);
    color: #fdfbfb;
    border: none;
    border-radius: 14px;
    padding: 12px;
    font-weight: 600;
}

.theme-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 25px rgba(0,198,255,0.35);
}

/* welcome back form Text */
.theme-title {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: #fdfbfb;
}

.theme-link {
    color: #93c5fd;
}
.theme-link:hover {
    text-decoration: underline;
}
.empty-msg {
    color: #fdfcfc;
}
